/*


# ===
# === ~/
# ===

!/.gitignore
!/.gitconfig
!/.bash_profile
!/.bashrc
!/.vimrc


# ===
# === ~/.config
# ===

!/.config/
/.config/*

!/.config/ranger

!/.config/lazygit
/.config/lazygit/*
!/.config/lazygit/config.yml

