/*


# ===
# === ~/
# ===

!/.gitignore
!/.gitconfig
!/.bashrc
!/.vimrc
!/.tmux.conf


# ===
# === ~/.config
# ===

!/.config/
/.config/*

!/.config/ranger

!/.config/pip
/.config/pip/*
!/.config/pip/pip.conf

!/.config/lazygit
/.config/lazygit/*
!/.config/lazygit/config.yml

