/*


# ===
# === ~/
# ===

!/.gitignore
!/.gitconfig
!/.bashrc
!/.bashrc-spec
!/.vimrc
!/.tmux.conf
!/.condarc
!/.npmrc
!/.yarnrc

# zsh
!/.myzsh
!/.fdignore
!/.myzsh
!/.p10k.zsh
!/.zprofile
!/.zshdebug.zsh
!/.zshenv
!/.zshrc


# ===
# === ~/.config
# ===

!/.config/
/.config/*

!/.config/ranger

!/.config/pip
/.config/pip/*
!/.config/pip/pip.conf

!/.config/lazygit
/.config/lazygit/*
!/.config/lazygit/config.yml

!/.config/nvim_
!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.lua


# ===
# === ~/.cache
# ===

!/.cache/
/.cache/*
!/.cache/vim
/.cache/vim/*
!/.cache/vim/theme.txt

